.share-ul {
	text-align: center;
	padding-left: 0;}
	
.share-button {
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-align: left !important;
	list-style: none;
	letter-spacing: -.4em;
	width: 2em;
	height: 2em;
	transition-property: width;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 0, 0, 1);
	overflow: hidden;
	white-space: nowrap
	border-radius: 1.2em;
    	border: solid 1px currentColor;}

.share-button i {
	position: absolute;
	top: 50%;
	left: 50%;
	letter-spacing: normal;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);}

.share-button a {
	position: absolute;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;}

input.sharebox {
	display: none;}

.share-button label {
	position: relative;
	display: inline-block;
	vertical-align: top;
	letter-spacing: normal;
	width: 2em;
	height: 2em;
	cursor: pointer;}

input.sharebox:checked + .share-button {
	width: 9em;}

.domain-input {
	display: inline-block;
	position: relative;
	letter-spacing: normal;
	vertical-align: top;
	width: 5em;
	height: 100%;}

.share-a {
	display: inline-block;
	position: relative;
	vertical-align: top;
	letter-spacing: normal;
	width: 2em;
	height: 2em;}

.domain-input input[type="url"] {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	text-align: left;
	letter-spacing: normal;
	border: none;
	border-bottom: solid 2px currentColor;
	background: rgba(255,255,255,0.3);
	width: 100%;}
